<div class="row"> 
        <div class="column right">
          <mat-card class="matCard">
            <mat-card-header>
              <mat-card-title>
                {{libraryService.fileType}}
              </mat-card-title>
              <mat-card-subtitle>
                Template Entities
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <table class="files-table mat-elevation-z8">
                <tr>
                    <th> S.No. </th>
                    <th>Entity Name</th> 
                    
                    
                    
                </tr>
                <tr *ngFor="let data of infoVar | keyvalue;let i=index">
                    <td>{{i+1}}</td>
                    <td>
                      <button mat-button class="matButton2" (click) = "applyFilter(data.key)">{{ data.key }}</button>
                    </td>
                </tr>
              </table>
            </mat-card-content>
            <mat-card-actions>
                    <a class="link" href="http://localhost:4200/home">
              <button class="matButton" mat-button (click)="returnToList()">Done</button>
                    </a>
            </mat-card-actions>
        </mat-card>
        </div>
        <div class="column left">
          <mat-card class="matCard">
            <mat-card-header>
              <mat-card-title>
                Template
              </mat-card-title>
              <mat-card-subtitle *ngIf="filterApplied">
                Filtered By: {{filterApplied}}
                <mat-card-action>
                    <button mat-icon-button color="warn" (click)="resetFilter()" matTooltip="Refresh">
                      <mat-icon>sync</mat-icon>
                    </button>
                </mat-card-action>
              </mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
                <img src="../../assets/BlankTemplateStockImage.png" style="
                width: 520px;
                height: auto;
            " *ngIf="showStaticImage else imageViewer">
                <ng-template #imageViewer>
                <app-image-viewer [images]="imageSource"
                [idContainer]="'idOnHTML'"
                [loadOnInit]="true">
              </app-image-viewer>
             </ng-template>
            </mat-card-content>
            
      
          </mat-card>
        </div>
      </div>
      