<br/>
<mat-grid-list cols="3" rowHeight="3:4">

    <a routerLink="../train" routerLinkActive="active"><mat-grid-tile id="TrainTile"><p style="
      margin-top:  15rem;
      margin-bottom: 1rem;
  ">Train</p></mat-grid-tile></a>
    <a routerLink="../extract" routerLinkActive="active"><mat-grid-tile id="ExtractTile"><p style="
      margin-top:  15rem;
      margin-bottom: 1rem;
  ">Extract</p></mat-grid-tile></a>
    <a routerLink="../library" routerLinkActive="active"><mat-grid-tile id="LibraryTile"><p style="
      margin-top:  15rem;
      margin-bottom: 1rem;
  ">Library</p></mat-grid-tile></a>
  </mat-grid-list>
  